@import "./variable.less";

body {
  background: #fff;
  font: 14px/1.5 'PingFangSC-Thin','Hiragino Sans GB','Microsoft YaHei Light','Microsoft YaHei',Arial,sans-serif;
  color: @body-color;
  min-width: 1000px;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
.left{
  float: left;
}
.right{
  float: right;
}